.idea
/vendor
.env


/tests/*
*img/

*ssh_keys/
public/html
/public/Shell/
public/vendor/*

storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
storage/framework/cache/*
/node_modules

laravel-echo-server.json
laravel-echo-server.lock

.DS_Store
