
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~toastr/toastr';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Loader Wave Animation */
@keyframes wave {
  0%,100% {
    transform: scaleY(1); }
  50% {
    transform: scaleY(2); } }
@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
.wave-spread .loader {
  width: 35px;
  height: 35px; }
  .wave-spread .loader > div {
    float: left;
    margin: 10px 3px 1px 1px;
    width: 0.2em;
    height: 20%;
    background-color:#3490dc;
    animation: wave 1s cubic-bezier(0.85, 0.25, 0.37, 0.85) infinite; }
  .wave-spread .loader .line-1, .wave-spread .loader .line-5 {
    animation-delay: .4s; }
  .wave-spread .loader .line-2, .wave-spread .loader .line-4 {
    animation-delay: .2s; }